* {
  margin: 5px;
}

#rechercheReseau {
  background-color: #203864;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: 50px;
  padding: 10px;
  margin: 10px;
}

.reinitialiser {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  opacity: 0.95;
  font-size: 15px;
  transition-duration: 0.5s;
  text-decoration: none;
  color: black;
}

.reinitialiser:focus,
.reinitialiser:active,
.reinitialiser:hover {
  animation: fadeInAnimation ease;
  background-color: #203864;
  color: white;
  text-decoration: none;
}

.divTravail {
  display: flex;
  justify-content: flex-end;
  width: auto;
}
