<div *ngIf="showError" class="alert alert-danger">informations incorrectes</div>
<div *ngIf="showMessage" class="alert alert-info">compte crée</div>
<div class="loginDiv">
  <div class="form-group">
    <label
      ><p class="infoConnexion">Nom d'utilisateur :</p>
      <input [(ngModel)]="login" class="form-control"
    /></label>
  </div>
  <div class="form-group">
    <label
      ><p class="infoConnexion">Mot de passe :</p>
      <input type="password" [(ngModel)]="password" class="form-control"
    /></label>
  </div>
  <div>
    <button (click)="check()" class="boutonLogin">Valider</button>
  </div>
</div>
